.App {
  text-align: center;
    background-color: #0e1117; /* Sets the background color of the app */
    min-height: 100vh; /* Makes sure the app fills at least the full height of the viewport */
    color: #fff; /* Adjusts the text color for better readability against the dark background */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.question {
  font-size: 135%;
  margin-bottom: 1.5%;
  padding-top: 2%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.webcam-overlay {
  position: absolute;
  bottom: 8%; /* Adjust as needed */
  right: 2%; /* Adjust as needed */
  width: 200px; /* Adjust based on desired size of overlay */
  height: 150px; /* Adjust based on desired size of overlay */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Add a grey light line above the footer */
footer .col-12 {
  border-top: 1px solid #8d838354; /* Light grey border */
}
